.btn{
      padding: 1rem 2rem;
      border: 0;
      font-size: inherit;
}
.btn:hover{
      opacity: 0.85;
      cursor: pointer;
}
.btn-disabled{
      opacity: 0.65;
}
.btn-disabled:hover{
      cursor: not-allowed;
      opacity: 0.65;
}

.btn-dark{
      background-color: var(--text-color);
      color: var(--white-color);
}
.btn-light{
      background-color: var(--light-text-color);
      color: var(--white-color);
}
.btn-primary{
      background-color: var(--primary-color);
      color: var(--white-color);
}
.btn-secondary{
      background-color: var(--secondary-color);
      color: var(--black-color);
}
.btn-accent{
      background-color: var(--accent-color);
      color: var(--white-color);
}

.btn-icon{
      border-radius: 50%;
      aspect-ratio: 1/1;
}