.card-container{
      display: grid;
      grid-template-columns: repeat(auto-fill,250px);
      gap: 2rem;
      width: 100%;
}
.card{
      max-width: 250px;
}
.card:hover{
      box-shadow: 0 0 0.5rem 0.3rem var(--primary-shadow-color);
}
.card-img img{
      max-width: 100%;
      width: 100%;
      max-width: 250px;
      max-height: 300px;
}
.card-actions{
      display: flex;
      flex-direction: column;
      gap: 1rem;
}

.card.badge-icon{
      margin: 0;
}
.card-badge .badge{
      border-radius: 50%;
      color: var(--white-color);
      padding: 0.75rem;
      top: 5px;
      right: 5px;
}
.card-badge .badge:hover{
      cursor: pointer;
}
.card-badge .badge.active{
      color: var(--offline-badge-color);
}

.card-dismiss .badge{
      top: 5px;
      right: 5px;
      color: var(--primary-color);
}
.card-dismiss .badge:hover{
      cursor: pointer;
}

.img-overlay{
      position: relative;
}
.img-overlay .overlay-content{
      display: block;
      position: absolute;
      bottom: 2rem;
      left: 1rem;
}

.card-shadow{
      box-shadow: 0 0 0.5rem 0.3rem var(--primary-shadow-color);
}

.card-text{
      min-width: 300px;
}

.card-horizontal{
      display: flex;
      max-width: 600px;
}
.card-horizontal .card-body{
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
}
.card-horizontal .card-img{
      display: flex;
}
.card-horizontal .card-img img{
      max-height: none;
}