@import './library.css';
@import './header.css';

.main{
      display: flex;
}

.sidebar{
      flex: 25%;
      max-width: 25%;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-s);
      padding: var(--spacing-s) ;
}

.sidebar-title,.sidebar-subtitle{
      font-size: 1.8rem;
      font-weight: bold;
      padding-bottom: var(--spacing-xs);
}

.sidebar-header{
      display: flex;
      justify-content: space-between;
}
.sidebar-clear{
      text-decoration: underline;
      font-weight: 600;
}
.sidebar-clear:hover{
      cursor: pointer;
}

.input-group{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 0.5rem 0;
}

@media only screen and (max-width:900px){
      .main{
            flex-direction: column;
      }
      .sidebar{
            flex: none ;
            max-width: none;
            flex-direction: row;
            box-shadow: none;
      }
      .sidebar-header{
            flex-direction: column;
            justify-content: flex-start;
      }
      .card-container{
            justify-content: center;
      }
}

@media only screen and (max-width:650px){
      .sidebar{
            flex-direction: column;
      }
}